{% extends 'base.html' %}
{% block content %}

  <h2>{{ movie.title }}</h2>
  <div class="row">
    <div class="col-xs-4">
      <div class="panel panel-info">
        <div class="panel-heading">
            <h3>Rate this movie</h3>
          </div>
        <div class="panel-body">
          <form action="/submit-rating.json" method="POST" id="movie-rating-form">
                   
            <div id="jinja-magic">
            {% if user_score %}
            <p>Your current rating for the movie is <span id="current-score">{{ user_score }}</span></p>
            <p>{{ beratement }}</p>
            <p>To change your score, enter a new score below</p>
            {% elif prediction_failed %}
            <p>{{ prediction_failed }}</p>
            {% else %}
            <p>You'll *probably* rate this movie a {{ prediction }} out of 5.</p>
            {% endif %}
            </div>
            <div id="rateYo" style="padding-bottom: 1em" value="{{ user_score }}"></div>
            <input type="hidden" name="user-rating" id="star-rating">
            <input type="hidden" name="user-email" value="{{ session.get('logged_in_email') }}">
            <input type="hidden" name="movie-id" value="{{ movie.movie_id }}">
            <button type="submit" class="btn btn-default">Submit</button>
          </form>








        </div>
      </div>
    </div>
    <div class="col-xs-8">
      <ul>
        <li>Release Date: {{ movie.released_at }}</li>
        <li><a href="{{ movie.imdb_url }}">IMDB Link</a></li>
        {% if score_info %}
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th>User email</th>
              <th>User Score</th>
            </tr>
          </thead>
          <tbody>
            {% for score in score_info %}
            <tr>
              <td>{{ score[1] }}</td>
              <td>{{ score[2] }}</td>
            </tr>
            {% endfor %}
            <tr>
              <td><b>Average Score:</b></td>
              <td><b>{{ avg_score }} </b> out of 5</td>
            </tr>
          </tbody>
        </table>
        {% endif %}
      </ul>
    </div>
  </div>

<script>
  $(function () {
    $("#rateYo").rateYo({
      rating: 0,
      fullStar: true,
      ratedFill: "#fff566"
    });
  });

  $(function () {
    var $rateYo = $("#rateYo").rateYo();
    $("#rateYo").click(function () {
      /* get rating */
      var rating = $rateYo.rateYo("rating");
      $("#star-rating").val(String(rating));
      console.log("The rating is " + String(rating));
    });
  });

</script>

    // <script>
    //   function flashUpdateMessage (data) {
    //     $("#jinja-magic").text(data["message"]);
    //     $("#current-score").text(data["score"]);
    //     // $("#jinja-magic").html("");
    //   }

    //   function updateUserRating(evt) {
    //     evt.preventDefault();
    //     var formValues = $("#movie-rating-form").serialize();
    //     $.post("/submit-rating.json", formValues, flashUpdateMessage);
    //   }

    //   $("#movie-rating-form").on("submit", updateUserRating);
    // </script>

{% endblock %}