{% extends 'base.html' %}
{% block content %}

    <h2>{{ user.email }} Profile</h2>
    <ul>
      <li>Age: {{ user.age }}</li>
      <li>Zipcode: {{ user.zipcode }}</li>
      {% if ratings %}
      <table>
        <thead>
          <tr>
            <th>Movie Title</th>
            <th>User Score</th>
          </tr>
        </thead>
        <tbody>
          {% for rating in ratings %}
          <tr>
            <td><a href="/movies/{{ rating[1] }}">{{ rating[1] }}</a></td>
            <td>{{ rating[0] }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% endif %}
    </ul>

{% endblock %}