{% extends 'base.html' %}
{% block content %}

    <h2>{{ user.email }} Profile</h2>
    <p>Age: {{ user.age }}</p>
    <p>Zipcode: {{ user.zipcode }}</p>
      {% if ratings %}
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Movie Title</th>
            <th>User Score</th>
          </tr>
        </thead>
        <tbody>
          {% for rating in ratings %}
          <tr>
            <td><a href="/movies/{{ rating[1] }}">{{ rating[1] }}</a></td>
            <td>{{ rating[0] }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% endif %}

{% endblock %}